<div class="info-about-company <%- className %>">
    <%-
        include("../subtitle/subtitle.ejs", {
            title: 'Our company',
            className: 'info-about-company__subtitle'
        })
    %>
    <%-
        include("../paragraph/paragraph.ejs", {
            title: 'Debuilds is a team of architects, interior design, and contractors who help our clients not only to build their dream building, but also to feel comfortable after the building is used.',
            className: 'info-about-company__paragraph'
        })
    %>
    <%- 
        include("../paragraph/paragraph.ejs", {
            title: 'We already handled.',
            className: 'info-about-company__paragraph'
        })
    %>    
    <div class="info-about-company__achievements">
        <span class="info-about-company__achievement">50+ Clients</span>
        <span class="info-about-company__achievement">30+ House</span>
        <span class="info-about-company__achievement">20+ Building</span>
    </div>
    <%-
        include("../button/button.ejs", {
            title: 'See more'            
        })
    %> 
</div>