<header class="header <%- className %>">
    <div class="header__inner">  
        <div class="header__top-content">
        <%- include("src/components/logo/logo.ejs") %>     
        <%- include("src/components/menu/menu.ejs") %>
    </div>   
    <div class="header__central-content">
        <%- 
            include("src/components/main-title/main-title.ejs", {
                title: 'We build your dream house well and professionally', 
                className: 'header__title'
            }) 
        %> 
        <%-
            include("src/components/text/text.ejs", {
                title: 'Our team can build a house according to your wishes. Any design and concept, we will help make it happen',
                className: 'header__text'
            })
        %>           
        <%-
            include("src/components/button/button.ejs", {
                title: 'Contact us'               
            })
        %>      
    </div>   
    </div>    
</header>